a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,166;
    color: var(--black);
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

footer{
    background-color: var(--background-foot);
}

.logo{

    /* font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 30,52px;
    color: var(--black); */
    width: 145px;
    height: 31px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1,192;
    color: var(--black);

}

.logo-first{
    color: var(--blue);
}


.nav{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,142;
    color: var(--black);
}

.nav-link{
    color: var(--black);
}

.nav-link:hover,
.nav-link:focus{
    color: var(--blue);
}

.contacts-mail{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,142;
    color: var(--blue);
}

.contacts{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,142;
    color: var(--gray);
}

.contacts:hover,
.contacts:focus{
    color: var(--blue)
}


h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,363;

}

.hero-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,875;
    background-color: var(--blue);
    border: none;
    color: var(--white);
}

.about{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1,142;
    color: var(--black);
    text-transform: uppercase;
    
}

.about-us{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,714;
    color: var(--gray);
}

.team{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,187;
}

.profession{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,187;
    color: var(--gray);
}

.address{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,714;
    color: var(--white);
}

.logo-foot{
    width: 145px;
    height: 31px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1,192;
    color: var(--white);
}

.contacts-foot{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,714;
    color: var(--gray-op60);
}