a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: var(--black);
}

footer{
    background-color: var(--background-foot);
}

.logo{

    /* font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 30,52px;
    color: var(--black); */
    width: 145px;
    height: 31px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    color: var(--black);

}

.logo-first{
    color: var(--blue);
}


.nav{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16,41px;
    color: var(--black);
}

.nav-link{
    color: var(--black);
}

.nav-link:hover,
.nav-link:focus{
    color: var(--blue);
}


.contacts{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16,41px;
    color: var(--gray);
}

.contacts:hover,
.contacts:focus{
    color: var(--blue)
}


.address{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--white);
}

.logo-foot{
    width: 145px;
    height: 31px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    color: var(--white);
}

.contacts-foot{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--gray-op60);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero-btn{
    border: none;
}

.hero-btn:hover,
.hero-btn:focus{
    color: var(--blue)
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--gray);
}